<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575648529034-0388so88bqk97vah372h2rlbr7lnvcc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575648529034-0388so88bqk97vah372h2rlbr7lnvcc5</string>
	<key>API_KEY</key>
	<string>AIzaSyDER0FynCReUSf3AqEPE-qsvNiFDjObdPo</string>
	<key>GCM_SENDER_ID</key>
	<string>575648529034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comeTogether2</string>
	<key>PROJECT_ID</key>
	<string>come-together-e2781</string>
	<key>STORAGE_BUCKET</key>
	<string>come-together-e2781.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575648529034:ios:e6e65ac73667f5fdf94b73</string>
</dict>
</plist>